body{
  background:rgb(131, 146, 154);
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  font-family:Arial;
}

.box{
  background:#4391a6;
  padding:20px;
  border-radius:12px;
  width:235px;
}

#screen{
  width:100%;
  height:40px;
  margin-bottom:10px;
  font-size:18px;
  text-align:right;
  
}

.keys{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:6px;
}

button{
  height:45px;
  font-size:16px;
  cursor:pointer;
  border-block-color: lightgray
}

.wide{
  grid-column: span 2;
}